@import url('https://fonts.googleapis.com/css2?family=Alice&family=Secular+One&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: Alice;
}
/* Navigation and Header */
nav{
    display: flex;
    flex-direction: row;
    justify-content: right;

    background-color: #fbf3e3;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav li{
    margin: 10px 20px 10px 30px;
}

nav a:link,
nav a:visited,
nav a:active {
    color: #F299B1;
    text-decoration: none;
}

nav a:hover{
    color: #e67795;
    text-decoration: none;
}


/* Main Content */

article{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #fffcf7;
    padding-bottom: 62px;
}

article > p{
    margin: 15px 400px;
    text-align: center;
}


.divider{
    display: flex;
    justify-content: center;
    background-color: #e67795;
    padding: 20px 50px;

    color: #fbf3e3;
  }

button{
    padding: 5px;
  }

/* Overview */

#overview{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    background-color: #F299B1;
    padding: 50px 10px;

    color: #fffcf7;
  }
  #overview > div{
    padding: 0px 50px;
  }
  #overview > div > h3 {
    text-align: center;
  }

  #overview > div > ul{
    list-style-type: disc;
  }


/* Footer */
footer{
    background-color: #fbf3e3;
    color: #F299B1;
    padding: 15px;
    text-align: right;
}

/* Media Responsiveness*/
@media (max-width: 1000px) {
  nav {
      display: flex;
      flex-direction: column;
  }
  nav li{
      padding:5px 400px 5px 400px;
      border-bottom: 1px solid #fff;
      margin: 0px;
  }
  nav ul {
      flex-direction: column;
  }

  img {
      height: 200px;
  }

  article > p{
    margin: 15px 100px;
    font-size: 12px;
  }
}