<%- include('partials/head.ejs', {page: "About"}) %>

<body>
    <%- include('partials/header.ejs') %>
    <main>
        <h1>About</h1>
    </main>
    <%- include('partials/footer.ejs') %>
</body>

</html>

