.image{
    height: 70px;
    padding: 50px;
}

.container{
    padding: 30px;
    margin-bottom: 300px;
    border: solid brown;

    display: flex;
    flex-direction: column;
    text-align: center;
}

#part1cont{
    height: 400px;
    width: 400px;
}

#part1cont:hover #star{
    transform: rotate(1080deg) scale(3);
    transition: 3s;
    transition-timing-function: ease-in-out;
}

#part1cont:not(:hover) #star{
    transform: rotate(0);
    transition: 3s;
    transition-timing-function: ease-in-out;
}